.st0 {
  fill: #f2f8fe;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ddeafc;
}
.st2 {
  fill: #ffffff;
}
.st3 {
  fill: #20a0ff;
}
.st4 {
  fill: #0d89e5;
}
.st5 {
  fill: #80a8e1;
}
.st6 {
  fill: #5289d6;
}
.st7 {
  fill: #ffd6d2;
}
.st8 {
  fill: #f8a3a4;
}
.st9 {
  fill: #dbedff;
}
.st10 {
  fill: #a2c6eb;
}
.st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #deebfd;
}

.dark {
  .st0 {
    fill: #272829;
  }
  .st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #494c52;
  }
  .st2 {
    fill: #33383d;
  }
  .st3 {
    fill: #20a0ff;
  }
  .st4 {
    fill: #0d89e5;
  }
  .st5 {
    fill: #80a8e1;
  }
  .st6 {
    fill: #5289d6;
  }
  .st7 {
    fill: #ffd6d2;
  }
  .st8 {
    fill: #f8a3a4;
  }
  .st9 {
    fill: #5d6874;
  }
  .st10 {
    fill: #a2c6eb;
  }
  .st11 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #3e4652;
  }
}
