.st0 {
  fill: #f2f8fe;
}
.st1 {
  fill: #ffd6d2;
}
.st2 {
  fill: #20a0ff;
}
.st3 {
  fill: #6496dc;
}
.st4 {
  fill: #afc8ea;
}
.st5 {
  fill: #80a8e1;
}
.st6 {
  fill: #93b8ee;
}
.st7 {
  fill: #afc8eb;
}

.dark {
  .st0 {
    fill: #3e444a;
  }
}
