.button-row > * {
  margin: 0;
}

.el-button {
  --el-button-font-weight: var(--el-font-weight-primary);
  --el-button-border-color: var(--el-border-color);
  --el-button-bg-color: var(--el-fill-color-blank);
  --el-button-text-color: var(--el-text-color-regular);
  --el-button-disabled-text-color: var(--el-disabled-text-color);
  --el-button-disabled-bg-color: var(--el-fill-color-blank);
  --el-button-disabled-border-color: var(--el-border-color-light);
  --el-button-divide-border-color: rgba(255, 255, 255, 0.5);
  --el-button-hover-text-color: var(--el-color-primary);
  --el-button-hover-bg-color: var(--el-color-primary-light-9);
  --el-button-hover-border-color: var(--el-color-primary-light-7);
  --el-button-active-text-color: var(--el-button-hover-text-color);
  --el-button-active-border-color: var(--el-color-primary);
  --el-button-active-bg-color: var(--el-button-hover-bg-color);
  --el-button-outline-color: var(--el-color-primary-light-5);
  --el-button-hover-link-text-color: var(--el-text-color-secondary);
  --el-button-active-color: var(--el-text-color-primary);

  padding: 8px 15px;
  font-size: var(--el-font-size-base);
  border-radius: var(--el-border-radius-base);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--el-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--el-button-font-weight);
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--el-button-bg-color);
  border: var(--el-border);
  border-color: var(--el-button-border-color);

  & > span {
    display: inline-flex;
    align-items: center;
  }

  &.is-disabled,
  &.is-disabled:hover {
    color: var(--el-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--el-button-disabled-bg-color);
    border-color: var(--el-button-disabled-border-color);
  }

  &.is-plain {
    --el-button-hover-text-color: var(--el-color-primary);
    --el-button-hover-bg-color: var(--el-fill-color-blank);
    --el-button-hover-border-color: var(--el-color-primary);
  }

  &.is-round {
    border-radius: var(--el-border-radius-round);
    padding: 8px 15px;
  }

  &.is-circle {
    width: 32px;
    border-radius: 50%;
    padding: 8px;
  }

  &.is-link {
    border-color: transparent;
    color: var(--el-button-text-color);
    background: transparent;
    padding: 2px;
    height: auto;

    &:hover {
      color: var(--el-button-hover-link-text-color);
    }

    &.is-disabled {
      color: var(--el-button-disabled-text-color);
      background-color: transparent !important;
      border-color: transparent !important;
    }

    &:not(.is-disabled):hover {
      border-color: transparent;
      background-color: transparent;
    }
  }

  &:hover {
    color: var(--el-button-hover-text-color);
    border-color: var(--el-button-hover-border-color);
    background-color: var(--el-button-hover-bg-color);
    outline: none;
  }

  &--primary {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: var(--el-color-primary);
    --el-button-border-color: var(--el-color-primary);
    --el-button-outline-color: var(--el-color-primary-light-5);
    --el-button-active-color: var(--el-color-primary-dark-2);
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: var(--el-color-primary-light-5);
    --el-button-hover-bg-color: var(--el-color-primary-light-3);
    --el-button-hover-border-color: var(--el-color-primary-light-3);
    --el-button-active-bg-color: var(--el-color-primary-dark-2);
    --el-button-active-border-color: var(--el-color-primary-dark-2);
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: var(--el-color-primary-light-5);
    --el-button-disabled-border-color: var(--el-color-primary-light-5);

    &.is-plain,
    &.is-text,
    &.is-link {
      --el-button-text-color: var(--el-color-primary);
      --el-button-bg-color: var(--el-color-primary-light-9);
      --el-button-border-color: var(--el-color-primary-light-5);
      --el-button-hover-text-color: var(--el-color-white);
      --el-button-hover-bg-color: var(--el-color-primary);
      --el-button-hover-border-color: var(--el-color-primary);
      --el-button-active-text-color: var(--el-color-white);

      &.is-disabled,
      &.is-disabled:hover,
      &.is-disabled:focus,
      &.is-disabled:active {
        color: var(--el-color-primary-light-5);
        background-color: var(--el-color-primary-light-9);
        border-color: var(--el-color-primary-light-8);
      }
    }
  }

  &--success {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: var(--el-color-success);
    --el-button-border-color: var(--el-color-success);
    --el-button-outline-color: var(--el-color-success-light-5);
    --el-button-active-color: var(--el-color-success-dark-2);
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: var(--el-color-success-light-5);
    --el-button-hover-bg-color: var(--el-color-success-light-3);
    --el-button-hover-border-color: var(--el-color-success-light-3);
    --el-button-active-bg-color: var(--el-color-success-dark-2);
    --el-button-active-border-color: var(--el-color-success-dark-2);
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: var(--el-color-success-light-5);
    --el-button-disabled-border-color: var(--el-color-success-light-5);

    &.is-plain,
    &.is-text,
    &.is-link {
      --el-button-text-color: var(--el-color-success);
      --el-button-bg-color: var(--el-color-success-light-9);
      --el-button-border-color: var(--el-color-success-light-5);
      --el-button-hover-text-color: var(--el-color-white);
      --el-button-hover-bg-color: var(--el-color-success);
      --el-button-hover-border-color: var(--el-color-success);
      --el-button-active-text-color: var(--el-color-white);

      &.is-disabled,
      &.is-disabled:hover,
      &.is-disabled:focus,
      &.is-disabled:active {
        color: var(--el-color-success-light-5);
        background-color: var(--el-color-success-light-9);
        border-color: var(--el-color-success-light-8);
      }
    }
  }

  &--info {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: var(--el-color-info);
    --el-button-border-color: var(--el-color-info);
    --el-button-outline-color: var(--el-color-info-light-5);
    --el-button-active-color: var(--el-color-info-dark-2);
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: var(--el-color-info-light-5);
    --el-button-hover-bg-color: var(--el-color-info-light-3);
    --el-button-hover-border-color: var(--el-color-info-light-3);
    --el-button-active-bg-color: var(--el-color-info-dark-2);
    --el-button-active-border-color: var(--el-color-info-dark-2);
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: var(--el-color-info-light-5);
    --el-button-disabled-border-color: var(--el-color-info-light-5);

    &.is-plain,
    &.is-text,
    &.is-link {
      --el-button-text-color: var(--el-color-info);
      --el-button-bg-color: var(--el-color-info-light-9);
      --el-button-border-color: var(--el-color-info-light-5);
      --el-button-hover-text-color: var(--el-color-white);
      --el-button-hover-bg-color: var(--el-color-info);
      --el-button-hover-border-color: var(--el-color-info);
      --el-button-active-text-color: var(--el-color-white);

      &.is-disabled,
      &.is-disabled:hover,
      &.is-disabled:focus,
      &.is-disabled:active {
        color: var(--el-color-info-light-5);
        background-color: var(--el-color-info-light-9);
        border-color: var(--el-color-info-light-8);
      }
    }
  }

  &--warning {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: var(--el-color-warning);
    --el-button-border-color: var(--el-color-warning);
    --el-button-outline-color: var(--el-color-warning-light-5);
    --el-button-active-color: var(--el-color-warning-dark-2);
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: var(--el-color-warning-light-5);
    --el-button-hover-bg-color: var(--el-color-warning-light-3);
    --el-button-hover-border-color: var(--el-color-warning-light-3);
    --el-button-active-bg-color: var(--el-color-warning-dark-2);
    --el-button-active-border-color: var(--el-color-warning-dark-2);
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: var(--el-color-warning-light-5);
    --el-button-disabled-border-color: var(--el-color-warning-light-5);

    &.is-plain,
    &.is-text,
    &.is-link {
      --el-button-text-color: var(--el-color-warning);
      --el-button-bg-color: var(--el-color-warning-light-9);
      --el-button-border-color: var(--el-color-warning-light-5);
      --el-button-hover-text-color: var(--el-color-white);
      --el-button-hover-bg-color: var(--el-color-warning);
      --el-button-hover-border-color: var(--el-color-warning);
      --el-button-active-text-color: var(--el-color-white);

      &.is-disabled,
      &.is-disabled:hover,
      &.is-disabled:focus,
      &.is-disabled:active {
        color: var(--el-color-warning-light-5);
        background-color: var(--el-color-warning-light-9);
        border-color: var(--el-color-warning-light-8);
      }
    }
  }

  &--danger {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: var(--el-color-danger);
    --el-button-border-color: var(--el-color-danger);
    --el-button-outline-color: var(--el-color-danger-light-5);
    --el-button-active-color: var(--el-color-danger-dark-2);
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: var(--el-color-danger-light-5);
    --el-button-hover-bg-color: var(--el-color-danger-light-3);
    --el-button-hover-border-color: var(--el-color-danger-light-3);
    --el-button-active-bg-color: var(--el-color-danger-dark-2);
    --el-button-active-border-color: var(--el-color-danger-dark-2);
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: var(--el-color-danger-light-5);
    --el-button-disabled-border-color: var(--el-color-danger-light-5);

    &.is-plain,
    &.is-text,
    &.is-link {
      --el-button-text-color: var(--el-color-danger);
      --el-button-bg-color: var(--el-color-danger-light-9);
      --el-button-border-color: var(--el-color-danger-light-5);
      --el-button-hover-text-color: var(--el-color-white);
      --el-button-hover-bg-color: var(--el-color-danger);
      --el-button-hover-border-color: var(--el-color-danger);
      --el-button-active-text-color: var(--el-color-white);

      &.is-disabled,
      &.is-disabled:hover,
      &.is-disabled:focus,
      &.is-disabled:active {
        color: var(--el-color-danger-light-5);
        background-color: var(--el-color-danger-light-9);
        border-color: var(--el-color-danger-light-8);
      }
    }
  }
}
