.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 0 auto 80px;
  max-width: 1200px;
}

.custom-card {
  height: 430px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  transition: all 0.3s;
  bottom: 0;

  &:hover {
    transform: translateY(-6px);
  }

  svg {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  h3 {
    margin: 0;
    font-size: 18px;
    color: var(--el-text-color-primary);
    font-weight: 400;
  }

  p {
    font-size: 14px;
    color: #99a9bf;
    padding: 0 24px;
    line-height: 20px;
    margin: 16px 0;
  }
}

.card-footer {
  position: sticky;
  bottom: 0;
  padding: 0;

  a {
    height: 100%;
    line-height: 52px;
    font-size: 14px;
    color: var(--brand-color);
    text-align: center;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: var(--bg-color);
    transition: all 0.3s;
    text-decoration: none;
    display: block;

    &:hover {
      color: #fff;
      background: var(--brand-color);
    }
  }
}
