:root {
  --el-border-color: #dcdfe6;
  --border-color: #dcdfe6;
}

.logo-container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  gap: 6px;

  .logo {
    display: flex;
    align-items: flex-end;
  }

  a {
    height: 28px;
    width: 158px;
  }

  h2 {
    color: #409eff;
    text-shadow: 0px 0px 12px #d5eaff;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  span.navbar-menu {
    padding: 0;
    margin: 0;
  }
}

.is-menu-link {
  display: block;
  padding: 0 12px;
  line-height: calc(var(--nav-height) - 3px);
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  transition: color var(--el-transition-duration);
  border-bottom: 2px solid transparent;

  &:hover,
  &.active {
    color: var(--brand-color);
  }
  &.active {
    border-bottom-color: var(--brand-color);
  }
}

.social-links {
  height: 24px;
  padding: 0 12px;

  a {
    color: var(--text-color);
  }
}
