.st0 {
  fill: #eff5fd;
}
.st1 {
  clip-path: url(#SVGID_00000172405038201111576250000009038874290854515645_);
}
.st2 {
  fill: #afcaf1;
}
.st3 {
  fill: #afb6bb;
}
.st4 {
  fill: #e7eced;
}
.st5 {
  fill: #0077ce;
}
.st6 {
  fill: #20a0ff;
}

.dark {
  .st0 {
    fill: #36393d;
  }
}
