.el-input {
  --el-input-text-color: var(--el-text-color-regular);
  --el-input-border: var(--el-border);
  --el-input-hover-border: var(--el-border-color-hover);
  --el-input-focus-border: var(--el-color-primary);
  --el-input-transparent-border: 0 0 0 1px transparent inset;
  --el-input-border-color: var(--el-border-color);
  --el-input-border-radius: var(--el-border-radius-base);
  --el-input-bg-color: var(--el-fill-color-blank);
  --el-input-icon-color: var(--el-text-color-placeholder);
  --el-input-placeholder-color: var(--el-text-color-placeholder);
  --el-input-hover-border-color: var(--el-border-color-hover);
  --el-input-clear-hover-color: var(--el-text-color-secondary);
  --el-input-focus-border-color: var(--el-color-primary);
  --el-input-width: 100%;

  --el-input-inner-height: calc(var(--el-input-height, 32px) - 2px);
  --el-input-height: var(--el-component-size);
  position: relative;
  font-size: var(--el-font-size-base);
  display: inline-flex;
  width: var(--el-input-width);
  line-height: var(--el-input-height);
  box-sizing: border-box;
  vertical-align: middle;

  &__wrapper {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1px 11px;
    background-color: var(--el-input-bg-color, var(--el-fill-color-blank));
    background-image: none;
    border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
    cursor: text;
    transition: var(--el-transition-box-shadow);
    transform: translateZ(0);
    box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;

    &.is-focus {
      box-shadow: 0 0 0 1px var(--el-input-focus-border-color) inset;
    }
  }

  &__inner {
    width: 100%;
    flex-grow: 1;
    appearance: none;
    -webkit-appearance: none;
    color: var(--el-input-text-color, var(--el-text-color-regular));
    font-size: inherit;
    height: var(--el-input-inner-height);
    line-height: var(--el-input-inner-height);
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
  }

  &.is-disabled {
    cursor: not-allowed;

    .el-input__wrapper {
      background-color: var(--el-disabled-bg-color);
      cursor: not-allowed;
      box-shadow: 0 0 0 1px var(--el-disabled-border-color) inset;
    }

    .el-input__inner {
      color: var(--el-disabled-text-color);
      -webkit-text-fill-color: var(--el-disabled-text-color);
      cursor: not-allowed;
    }
  }

  &__prefix {
    display: inline-flex;
    white-space: nowrap;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: 100%;
    line-height: var(--el-input-inner-height);
    text-align: center;
    color: var(--el-input-icon-color, var(--el-text-color-placeholder));
    transition: all var(--el-transition-duration);
    pointer-events: none;

    &-inner {
      pointer-events: all;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      & > :last-child {
        margin-right: 8px;
      }
    }
  }

  &__suffix {
    display: inline-flex;
    white-space: nowrap;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: 100%;
    line-height: var(--el-input-inner-height);
    text-align: center;
    color: var(--el-input-icon-color, var(--el-text-color-placeholder));
    transition: all var(--el-transition-duration);
    pointer-events: none;

    &-inner {
      pointer-events: all;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      & > :first-child {
        margin-left: 8px;
      }
    }
  }

  &-group {
    align-items: stretch;
    display: inline-flex;
    width: 100%;

    &__append,
    &__prepend {
      background-color: var(--el-fill-color-light);
      color: var(--el-color-info);
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      border-radius: var(--el-input-border-radius);
      padding: 0 20px;
      white-space: nowrap;
    }

    &__prepend {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow:
        1px 0 0 0 var(--el-input-border-color) inset,
        0 1px 0 0 var(--el-input-border-color) inset,
        0 -1px 0 0 var(--el-input-border-color) inset;
    }

    &__append {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow:
        0 1px 0 0 var(--el-input-border-color) inset,
        0 -1px 0 0 var(--el-input-border-color) inset,
        -1px 0 0 0 var(--el-input-border-color) inset;
    }
  }
}

.el-input--large {
  --el-input-inner-height: calc(var(--el-input-height, 40px) - 2px);
  --el-input-height: var(--el-component-size-large);
  font-size: 14px;

  .el-input__wrapper {
    padding: 1px 15px;
  }
}

.el-input--small {
  --el-input-inner-height: calc(var(--el-input-height, 24px) - 2px);
  --el-input-height: var(--el-component-size-small);
  font-size: 12px;

  .el-input__wrapper {
    padding: 1px 7px;
  }
}
