.banner {
  text-align: center;

  &-desc {
    h1 {
      font-size: 48px;
      font-weight: 800;
      margin: 0;
      color: var(--text-color);
      font-family: Inter, sans-serif;

      @media (max-width: 768px) {
        font-size: 36px;
      }
    }

    p {
      font-size: 16px;
      margin-top: 20px;
      color: var(--text-color-light);

      @media (max-width: 768px) {
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}

.img {
  &-wrapper {
    width: 100%;
    text-align: center;
  }

  &-main {
    width: 65%;
    margin: 24px auto;

    @media screen and (max-width: 959px) {
      width: 85%;
    }

    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }
}
